<!-- 
 Created by 
 Nikhil Yadav
 28 October 2024
 -->

<!DOCTYPE html>
<html>
        <head>
               <meta charset='utf-8'>
               <meta http-equiv='X-UA-Compatible' content='IE=edge'>
               <title>Index Page</title>
               <meta name='viewport' content='width=device-width, initial-scale=1'>
               <link rel='stylesheet' type='text/css' media='screen' href='public/index.css'>
               <script src='main.js'></script>
        </head>
        
            
        <body>
             
            <!-- Navigation tab having ^ buttons-->
            <header>
                    <div class="navbar">
                      <div class="navbutton"> <a href="#one"> Home </a> </div>
                      <div class="navbutton"> <a href="#two"> Educational Background </a></div>
                      <div class="navbutton"> <a href="#three"> Achievements </a> </div>
                      <div class="navbutton"> <a href="#four"> Projects </a> </div>
                      <div class="navbutton"> <a href="#five"> Extra curricular </a> </div>
                      <div class="navbutton"> <a href="#six"> Contact Me </a> </div>
                    </div>
            </header>
            
            <!-- Introduction Part includes profile pic and about me -->
            <main>
                <div class="introduction" id="one">
                    <br>
                    <br>
                    <p style="font-size: 60px; padding-left: 70px;">Introduction</p>
                    <div class="profilepic"> <img src="public\pic.jpeg" height="750px" alt="picture"></div>
                    <div class="intro">
                         <div class="intro1"> Hello, <br> I'm Nikhil</div>
                         <div class="intro2">A Passionate and dedicated pre-final year Computer Science student specializing in cybersecurity. Seeking to protect individuals, organizations, and systems from digital threats. Strong foundation in computer science principles, programming languages, and software development methodologies. Active member of the university's cybersecurity club(Cyber Sentinel), participating in workshops and competitions. Actively engaged in the cybersecurity community, attending conferences and seminars. Seeking networking and mentorship opportunities to enhance practical skills. Reading cybersecurity blogs and participating in Capture the Flag challenges in spare time. </div>
                    </div>
                </div>
                
                <!-- Education part includes school and college details-->
                <div id="two">
                    <p style="font-size: 60px;">Education :</p>
                    <br>
                    <div class="education">
                        <div class="school">
                            <br>
                            <pre> R.S.V. Senior Secondary Schhol,Bikaner                                          2017-2019
       10th                                                                        92.6%</pre>
                        </div>
                    <br>
                    <br>
                        <div class="school">
                            <pre> Gurukul B.L. Mohta Senior Secondary Schhol,Bikaner                             2019-2021
      12th (PCM)                                                                   88%</pre>
                        </div>
                    <br>
                    <br>
                        <div class="school">
                            <pre> University of Petroleun and Energy Studies,Dehradun                            2022-2026
      B.Tech (CSE)                                                                 7.5 CGPA</pre>
                        </div>
                    </div>
                </div>

                <!-- Achievements -->
                <div id="three">
                    <p style="font-size: 60px;">Achievements :</p>
                    <div class="achievements" >
                        <br>
                        <div class="a1">
                            <ul>
                                <li>Core Event member</li>
                                <p>Core Committee Member of Cyber Sentinel, showcasing leadership, teamwork, and organizational skills by planning and executing cybersecurity events, coordinating with teams, managing logistics, and ensuring smooth event operations.</p>
                                <br>
                                <br>
                                <li>Campus Ambassador</li>
                                <p> I worked with the Information Technology, and corporate communication department as a member of the Campus Ambassador.  I was assigned to manage webinars, make presentations, communicate and coordinate with our new clients. I was responsible for
                                    strengthening brand reputation, by its web pages, planning and overseeing corporate advertising and strategy.</p>
                                    <br>
                                    <a href="">LOR</a>
                                    <br>
                                    <br>
                                <li>Amcat</li>
                                <p></p>
                                <br>
                                <br>
                                <li>Courses</li>
                                <p>Completed courses in Python, Java, and other programming languages, gaining expertise in object-oriented programming, data structures, algorithms, and software development. Acquired strong problem-solving skills and practical experience in building and debugging applications.</p>
                                <br>
                                <br>
                                <li> Class Representative</li>
                                <p>Served as Class Representative, demonstrating leadership, communication, and problem-solving skills by effectively mediating between students and faculty, organizing academic events, addressing concerns, and fostering a collaborative, supportive environment.</p>
                                <br>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Major Projects -->
                <div id="four">
                    <p style="font-size: 60px;">Projects :</p>
                    <div class="projects">
                        <br>
                         <div class="p1">
                         <h1> Bank System: </h1>
                         <p>This Python project incorporates various concepts such as file creation 
                         and customer transaction recording for activities including withdrawals, 
                         mini statements, and account openings.</p>
                          <br>
                         <a href="">Respective code</a>
                        </div>

                        <br>

                        <div class="p1">
                            <h1> Clone website </h1>
                            <p>Developed clone websites of Amazon and UPES using HTML and CSS, replicating key features and design elements. Gained hands-on experience in front-end web development, improving skills in responsive design, UI/UX, and website layout."</p>
                             <br>
                            <a href="">Respective code</a>
                           </div>
   
                           <br>

                        <div class="p1">
                            <h1> Lightweight Hashing Algorithm </h1>
                            <p>This Python project incorporates various concepts such as file creation 
                            and customer transaction recording for activities including withdrawals, 
                            mini statements, and account openings.</p>
                             <br>
                            <a href="">Respective code</a>
                           </div>
   
                           <br>
                        
                        <div class="p1">
                            <h1> Calculator: </h1>
                            <p>This project is proficiently designed in Java and Python, effectively 
                             integrating various concepts from both languages.</p>
                            <br>
                            <a href="">Respective code</a>
                        </div>

                        <br>

                        <div class="p1">
                        <h1> Portfolio Website: </h1>
                        <p>I effectively utilized HTML, CSS, and JavaScript to elegantly showcase my 
                            Profile, Skills, Projects, and Achievements. I seamlessly incorporated 
                            various concepts such as the box model, transitions, animations, and 
                            more.</p>
                        <br>
                        <a href="">Respective code</a>
                        </div>
                    </div>
                </div>

                <!-- Extra curricular -->
                <div id="five">
                    <p style="font-size: 60px;">Extra curricular :</p>
                    <div class="extracurricular">
                        <br>
                        <div class="a1">
                            <ul>
                                <li>Research Work </li>
                                    <p>Research on Issues, Challenges, and Solutions Concerning Adolescent Girls in India. Research on Mental Health of Adolescents during COVID-19.  </p>
                                    <br>
                                    <a href="">Research paper</a>
                                    <br>
                                    <br>
                                <li>Volunteering</li>
                                    <p>Established fundraising goals, planned, and administered quarterly fundraising campaigns and managed terms of support. </p>
                                    <br>
                                    <a href="">Certificate</a>
                                    <br>
                                    <br>
                                <li>Entrepreneurship</li>
                                    <br>
                                    <br>
                                <li></li>
                                <li></li>
                            </ul>                           
                        </div>
                    </div>
                </div>
            </main>

           <!-- Contact us includes phone no., email, github etc-->
           <footer>
                <div id="six">
                    <p style="font-size: 45px;">Contact us:</p>
                    <div class="contact" >
                         <div class="contactquery">
                            <h2> Feedback:</h2>
                            <br>
                            <textarea name="feedback" id="feedback" placeholder="Type your valuable Feedback" style="height: 75px; width: 600px;"></textarea>
                         </div>
                   
                         <div class="contactdetail">
                            <div class="cd"> Phone Number : 6367551636</div>
                             <div class="cd"><a href="https://www.linkedin.com/in/nikhil-yadav-4b0874218/">Linkeldin</a></div>
                             <div class="cd"><a href="https://github.com/Ynikhil008">Github</a></div>
                             <div class="cd"><a href="https://leetcode.com/u/nikhil0811/">Leetcode</a></div>
                             <div class="cd"><a href="https://www.instagram.com/niks_slayer.08/">Instagram</a></div>
                         </div>
                    </div>
                </div>
           </footer>

        </body>
</html>
